* {
    -webkit-box-sizing: border-box;
}

liga > * > *:hover {
   border: 5px inset white;
}

liga > * > * > *:hover {
  text-decoration: underline;
}

liga > * {
    padding: 8px;
}

liga {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    color: #121113;
    background-image:
    background: -webkit-linear-gradient(top, rgba(245,253,255,1) 0%,rgba(217,249,255,1) 42%,rgba(187,244,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(245,253,255,1) 0%,rgba(217,249,255,1) 42%,rgba(187,244,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    font-family: "Roboto", Roboto, Proportional;
}

liga > adresy:before {
    letter-spacing: 1px;
    font-style: oblique;
    padding-bottom: 8px;
    content: 'Adresy \A';
    display: block;
	text-align: center;
    font-size: 2em;
    font-weight: bold;
}
liga > uzytkownicy:before {
    letter-spacing: 1px;
    font-style: oblique;
    padding-bottom: 8px;
    content: 'Gracze \A';
    display: block;
	text-align: center;
    font-size: 2em;
    font-weight: bold;
}
liga > turnieje:before {
    letter-spacing: 1px;
    font-style: oblique;
    padding-bottom: 8px;
    content: 'Turnieje \A';
    display: block;
	text-align: center;
    font-size: 2em;
    font-weight: bold;
}
liga > gry:before {
    letter-spacing: 1px;
    font-style: oblique;
    padding-bottom: 8px;
    content: 'Gry \A';
    display: block;
	text-align: center;
    font-size: 2em;
    font-weight: bold;
}


uzytkownik{
    flex: 1 0 25%;
    display: flex;
    flex-direction: column;
    margin: 5px;
    background: linear-gradient(to right, rgba(255,198,187,1) 0%, rgba(255,255,255,1) 0%, rgba(251,196,157,1) 63%, rgba(254,193,148,1) 92%, rgba(248,200,170,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe0c7', endColorstr='#f8c8aa', GradientType=1 );
    border: 5px outset white;
    padding: 8px;
    border-radius: 5px;

}

adres{
    flex: 1 0 25%;
    display: flex;
    flex-direction: column;
    margin: 5px;
    background: linear-gradient(to right, rgba(255,224,199,1) 0%, rgba(255,255,255,1) 0%, rgba(251,196,157,1) 63%, rgba(254,193,148,1) 92%, rgba(248,200,170,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe0c7', endColorstr='#f8c8aa', GradientType=1 );
    border: 4.2px outset white;
    padding: 8px;
    border-radius: 5px;

}
gra{
    flex: 1 0 25%;
    display: flex;
    flex-direction: column;
    margin: 5px;
	background: linear-gradient(to right, rgba(255,224,199,1) 0%, rgba(255,255,255,1) 0%, rgba(251,196,157,1) 63%, rgba(254,193,148,1) 92%, rgba(248,200,170,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe0c7', endColorstr='#f8c8aa', GradientType=1 );
    border: 5px outset white;
    padding: 8px;
    border-radius: 5px;

}

turniej{
    flex: 1 0 25%;
    display: flex;
    flex-direction: column;
    margin: 5px;
    background: linear-gradient(to right, rgba(255,224,199,1) 0%, rgba(255,255,255,1) 0%, rgba(251,196,157,1) 63%, rgba(254,193,148,1) 92%, rgba(248,200,170,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe0c7', endColorstr='#f8c8aa', GradientType=1 );
    border: 5px outset white;
    padding: 8px;
    border-radius: 5px;

}
